<DOCTYPE html>
  <html>

  <head>
    <title>Hang Movie</title>

    <!-- Links CSS -->

    <link rel="stylesheet" type="text/css" href="assets/css/style-user.css">

    <!-- Links Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

  </head>

  <body>

      {{#if logged_in}}
			<a href="/users/sign-out" id="sign-out">Sign Out ({{this.username}})</a> | <a href="/scores">RPS</a> | <a href="/scores/hangman">Hangman</a> | <a href="/scores/quiz">Quiz</a>

			<p class="clear"><strong>logged_in:</strong> {{logged_in}} |
			<strong>user_email:</strong> {{user_email}} |
			<strong>user_id:</strong> {{user_id}} |
			<strong>username:</strong> {{username}}</p>
		{{else}}
			<a href="/users/sign-in">Sign In</a>
			<a href="/users/new">Register</a>
		{{/if}}

    <div class="container">

      <div class="jumbotron">
        <h1>Hang Movie</h1>
        <p>Guess the movie quote before you run out of guesses</p>
        <br>
        <a class="btn btn-primary btn-lg" id="start" href="#" role="button">Start Game</a>
      </div>

    </div>

    <div class="game">
      <div class="jumbotron">

      <h2 id='movie'>Movie: </h2>
      <br><br>

      <div id="word">
        <p id="wordGoesHere"></p>
        <br><br><br>

      </div>

      <!--<div id = "displayHint">
      <a class="btn btn-primary btn-lg" id ="hint" href="#" role="button">Hint</a>
      <h3></h3>
      <br><br><br>     

    </div>-->

      <div class="guesses">

        <div id="wrong">
          <strong>Wrong Guesses: </strong>
          <br><br>

        </div>

        <div id="guessesLeft">
          <strong>Guesses Left: </strong>
        </div>
        <br><br>

        <div id="total">
          <strong>Total Score: </strong>
        </div>
        <br><br>

      </div>

      <div class="scores">
        <a class="btn btn-primary btn-lg" id="score" href="#" role="button">Display Highscore</a>
        <br><br>
        <div id="highScore">Highscore: </div>
      </div>

    </div>

    </div>

  </body>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

  <!-- Javascript -->
  <script type="text/javascript" src="assets/javascript/logic.js"></script>

  </html>